<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link href="css/home.css" rel="stylesheet" type="text/css">
    </style>
  </head>
  <body class="container">
    <h1>Budget</h1>
    <h3>Track your money, see where your money goes</h3>
      <a href="/login">Login</a> <br>
      <a href="/register">Register</a>
  </body>
</html>
