<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Landing page</title>
  <style media="screen">
    body {
      margin: 0;

    }

    .header {
      /* background-color: black; */
      border: 1px solid black;
      padding: 3.5vh;
      opacity: 0.5;
      backface-visibility: visible;
    }

    .container {
      /* padding:2vh; */
      margin: 0;
      margin-left: 10vw;
      overflow-x: scroll;
      border: 1px solid black;
      width: 80vw;
      height: 100vh;
      text-align: center;
    }

    .scroll {

      border: 1px solid black;
      width: 70vw;
      height: 30vh;
      /* padding: 10px; */
      margin: 5vw
    }

    .inner {
      border: 1px solid black;
      height: 25vh;
      width: 17vw;
      margin: 2.3vh;
    }
    p{
      width:50vw;
      display: flex;
      float: right;
    }
  </style>
</head>

<body>
  <form class="/landing:id" method="post">

  </form>
  <header class='header'></header>



  <div class="container">
    <div class="scroll">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="inner">
        <img src="placeholder" alt="placeholder">
      </div>

    </div>

  </div>






</body>

</html>
