<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing page</title>
    <style media="screen">
    body{
      margin:0;
      
    }

      .container{
        margin:0;
        margin-left: 10vw;
        overflow-x: scroll;
        border:1px solid black;
        width: 80vw;
        height:100vh;
        text-align: center;
      }
      .scroll{

        border:1px solid black;
        width: 70vw;
        height:20vh;
        padding: 10px;
        margin-left: 4.5vw




      }

    </style>
  </head>
  <body>
    <form class="/landing:id" method="post">

    </form>



    <div class="container">
      <div class="scroll">
        <div class="inner">

        </div>
      </div>
      <div class="scroll">
        <div class="inner">

        </div>
      </div>
      <div class="scroll">
        <div class="inner">

        </div>
      </div>
      <div class="scroll">
        <div class="inner">

        </div>
      </div>
      <div class="scroll">
        <div class="inner">

        </div>
      </div>

    </div>


  </body>
</html>
