<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landing page</title>
    <style media="screen">
      .container{
        margin-left: 10vw;
        padding:0;
        border:1px solid black;
        width: 80vw;
        height:100vh;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form class="/landing:id" method="post">

    </form>
    <div class="container">
      <div class="scroll">
        <div class="inner">
          
        </div>
      </div>

    </div>


  </body>
</html>
