<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
  </head>
  <body>
    <h1>Welcome to our site</h1>
    <p>Please login:</p>
    <form action="/login" method="post">
      <input type="email" name="" placholder="Email">
      <input type="password" name="" placholder="Password">
    </form>
  </body>
</html>
