<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View your profile</title>
  </head>
  <body>
    <h1>Welcome (user)</h1>
    <p>Total challenges completed</p>
    <p>Total shared challenges</p>
    
  </body>
</html>
