.container-fluid{
    background-color: orange;
    width: 100vw;
    height: 100vh;
}
.row{
    height: 100vh;
}
.col-3{
    background-color: blue;
}
.col-9{
    background-color: darkslategray;
    background-image: url("images/home-office.jpg")
}
img{
    height:200px;
    width: 100%;
}