<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collecting Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
    <h3>
      Hello!<br>
      To create an accurate profile please fill in the information below.
    </h3>

  <form class="form-group" action="/register2Post" method="post">
    <label for="Monthly_Income">Monthly Income</label>
    <input type="number" class="form-control" name="Monthly_Income" placeholder="3500">
    <form action="/editData" method="post">
    
      
        
    
      
        <p>Monthly_Income</p>
        
        <input type="number" name="Monthly_Income" value="30">
        
      
        <p>Other_Income</p>
        
        <input type="number" name="Other_Income" value="20">
        
      
        <p>Housing_payment</p>
        
        <input type="number" name="Housing_payment" value="30">
        
      
        <p>Home_Insurance</p>
        
        <input type="number" name="Home_Insurance" value="0">
        
      
        <p>Repairs</p>
        
        <input type="number" name="Repairs" value="0">
        
      
        <p>Utilities</p>
        
        <input type="number" name="Utilities" value="0">
        
      
        <p>Cable</p>
        
        <input type="number" name="Cable" value="0">
        
      
        <p>Phone</p>
        
        <input type="number" name="Phone" value="0">
        
      
        <p>auto_Payment</p>
        
        <input type="number" name="auto_Payment" value="30">
        
      
        <p>car_Insurance</p>
        
        <input type="number" name="car_Insurance" value="0">
        
      
        <p>Gas</p>
        
        <input type="number" name="Gas" value0">
        
      
        <p>car_Repair</p>
        
        <input type="number" name="car_Repair" value="0">
        
      
        <p>School_Supplies</p>
        
        <input type="number" name="School_Supplies" value="0">
        
      
        <p>Higher_Edu_Loans</p>
        
        <input type="number" name="Higher_Edu_Loans" value="20">
        
      
        <p>Tuition</p>
        
        <input type="number" name="Tuition" value0">
        
      
        <p>Groceries</p>
        
        <input type="number" name="Groceries" value="10">
        
      
        <p>eating_Out</p>
        
        <input type="number" name="eating_Out" value="0">
        
      
        <p>Entertainment</p>
        
        <input type="number" name="Entertainment" value="0">
        
      
        <p>Pet_Supply</p>
        
        <input type="number" name="Pet_Supply" value="0">
        
      
        <p>Personal_Other</p>
        
        <input type="number" name="Personal_Other" value="0">
        
      
        <p>Emergency_Fund</p>
        
        <input type="number" name="Emergency_Fund" value="0">
        
      
        <p>Retirement_Savings</p>
        
        <input type="number" name="Retirement_Savings" value="20">
        
      
        <p>Investments</p>
        
        <input type="number" name="Investments" value="10">
        
      
        <p>Taxes_Paid</p>
        
        <input type="number" name="Taxes_Paid" value="20">
        
      
        <p>Saving_Goal</p>
        
        <input type="number" name="Saving_Goal" value0">
        
      
        <p>Savings_Rate</p>
        
        <input type="number" name="Savings_Rate" value0">
        <p>Money</p>
        <input type="number" name="Money" value0">
        <p>Gone</p>
        <input type="number" name="Gone" value0">
        <p>Government</p>
        <input type="number" name="Government" value=0">
        <p>Worth</p>
        <input type="number" name="Worth" value0">
        <p>Checking</p>
        <input type="number" name="Checking" value0">
        <p>Saving</p>
        <input type="number" name="Saving" value0">
        <p>Month</p>
        <input type="number" name="Month" value0">
    <br> <input type="submit" name="" value="Sub0">
  </form>
    <input type="submit" class="btn btn-primary" value="Sub0">
  </form>
  </body>
</html>
