<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <style media="screen">
      *{
        text-align: center;
      }
      a{
      text-decoration: none; font: menu;
      display: block; padding: 2em 8em;
      background: blue;
      color: white;
      width:80%;
      border-style: solid; border-width: 2em;
  }
  input{
    margin: .5em;
  }
    </style>
  </head>
  <body>
    <h1>Budget Tracker</h1>
    <h3>Track your money, see where your money goes</h3>
    <p>Register:</p>
    <form action="/newRegister" method="post">
      <input type="string" name="name" placeholder="Name"> <br>
      <input type="email" name="email" placeholder="Email"> <br>
      <input type="password" name="password" placeholder="Password"> <br>
      <input type="password" name="confirm_password" placeholder="Confirm Password"> <br>
      <input type="submit" name="" placeholder="">
    </form>
    <a href="/login">Login</a> <br>
  </body>
</html>
