<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Collecting Data</title>
  <link href="css/register.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <h3>
    Hello <%= user.name %> <br>
    To create an accurate profile please fill in the information below:
  </h3>
  <form class="form-group" action="/register2Post" method="post">
    <div class="card-columns">
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">
      <div class="card-header"> Housings Costs </div>
      <div class="card-body">
        <label for="Monthly_Income">Monthly Income</label>
        <input type="number" class="form-control" name="Monthly_Income" placeholder="3500">
        <label for="Other_Income">Other Income</label>
        <input type="number" name="Other_Income" class="form-control" value="2000">
        <label for="Housing_payment">Rent or Mortgage</label>
        <input type="number" name="Housing_payment" class="form-control" value="3000">
        <label for="Home_Insurance">Home Insurance</label>
        <input type="number" name="Home_Insurance" class="form-control" value="100">
        <label for="repairs">Home Maintainance Costs</label>
        <input type="number" name="Repairs" class ="form-control" value="200">
        <label for="Utilities">Utilities</label>
        <input type="number" name="Utilities" class="form-control" value="400">
        <label for="Cable">Cable</label>
        <input type="number" name="Cable" class="form-control" value="400">
        <label for="Phone">Phone</label>
        <input type="number" name="Phone" class="form-control" value="250">
      </div>
      </div>
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">

      <div class="card-header">Auto Costs</div>
      <div class="card-body">
        <label for="auto_payment">Car payment</label>
        <input type="number" name="auto_Payment" class="form-control" value="3200">
        <label for="car_Insurance">Car Insurance Costs</label>
        <input type="number" name="car_Insurance" class="form-control" value="200">
        <label for="Gas">Fuel Costs</label>
        <input type="number" name="Gas" class="form-control" value="0">
        <label for="car_repair">Auto Maintainance Costs</label>
        <input type="number" name="car_Repair" class="form-control" value="400">
      </div>
    </div>
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">

      <div class="card-header">Education Related Expenses</div>
      <div class="card-body">
        <label for="School_Supplies">School Supplies</label>
        <input type="number" name="School_Supplies" class="form-control" value="500">
        <label for="Higher_Edu_Loans">Higher Education Loans Balance</label>
        <input type="number" name="Higher_Edu_Loans" class="form-control" value="2500">
        <label for="Tuition">Monthly Tuition Costs</label>
        <input type="number" name="Tuition" class="form-control" value="0">
      </div>
    </div>
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">
      <div class="card-header">Personal Expenses</div>
      <div class="card-body">
        <label for="Groceries">Groceries</label>
        <input type="number" name="Groceries" class="form-control" value="1400">
        <label for="eating_Out">Dining Out Expenses</label>
        <input type="number" name="eating_Out" class="form-control" value="400">
        <label for="Entertainment">Entertainment</label>
        <input type="number" name="Entertainment" class="form-control" value="300">
        <label for="Pet_Supply">Pet Related Expenses</label>
        <input type="number" name="Pet_Supply" class="form-control" value="200">
        <label for="Personal_Other">Other personal expenses</label>
        <input type="number" name="Personal_Other" class="form-control" value="300">
      </div>
    </div>
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">
      <div class="card-header">Savings</div>
      <div class="card-body">
        <label for="Emergency_Fund">Monthly Emergency Fund Saving</label>
        <input type="number" name="Emergency_Fund" class="form-control" value="500">
        <label for="Retirement_Savings">Retirement Contributions(401k IRA)</label>
        <input type="number" name="Retirement_Savings" class="form-control" value="2500">
        <label for="Investments">Non-tax advantage brokerage account contributions</label>
        <input type="number" name="Investments" class="form-control" value="1000">
      </div>
    </div>
    <div class="card bg-light mb-3 flex-col" style="max-width: 18rem;">
      <div class="card-header"> Other </div>
      <div class="card-body">
        <label for="Taxes_Paid">Monthly FICA, Local, and State Taxes paid </label>
        <input type="number" name="Taxes_Paid" class="form-control" value="2000">
        <label for="Saving_Goal">What is your monthly savings goal ($)</label>
        <input type="number" name="Saving_Goal" class="form-control" value="0">
        <label for="Savings_Rate">What is your monthly savings goal(%)</label>
        <input type="number" name="Savings_Rate" class="form-control" value="0">
        <label for="Government">What is your tax rate (%)</label>
        <input type="number" name="Government" class="form-control" value="35">
        <label for="Checking">What is your checking account balance</label>
        <input type="number" name="Checking" class="form-control" value="0">
        <label for="Saving">What is your savings account balance</label>
        <input type="number" name="Saving" class="form-control" value="0">
        <label for="Month">What month is is?</label>
        <input type="number" name="Month" class="form-control" value="1">
      </div>
    </div>
  </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
