
.main{
    background-color: rgb(159, 173, 255) !important;
  position:absolute;
  /* left:50vh; */
  height:95vh;
  width:100vw;
}
.container{
  font-size: 30px;
  text-align: center;
  width:10vw;


}
.col-6{


  height:40vh;
margin-top:5vh;
  margin-left:35vh;
}
#doughnutChart{

}
