
.main{
  background-color: darkslategray;
  position:absolute;
  /* left:50vh; */
  height:95vh;
  width:100vw;
}
.container{
  font-size: 30px;
  text-align: center;
  width:10vw;


}
.col-6{


  height:40vh;
margin-top:2vh;
  margin-left:30vh;
}
#doughnutChart{

}
