body{
    background-color: rgb(159, 173, 255) !important;

    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0 !important;
    padding: 0 !important;
}
.container-fluid{
    margin: 0 !important;
}
#navbar{
    width: 100vw;
    height: 5vh;
    margin: 0px !important;
    padding: 0px !important;
}
#content{
    /* background-color: ; */
    width: 100vw !important;
    height: 90vh !important;
    margin: 0px !important;
    padding: 0px !important;
}
.row{
    padding: 0px !important;
    margin: 0px !important;
}
.col-3{
    background-color: lightblue !important;
    padding: 0px !important;
    margin: 0px !important;
}
#top3rd{
    height: 25% !important;
    width: 100%;
    /* background-color: rgb(238, 252, 255); */
    margin: 0px 0px !important;
    padding: 2px !important;
}
#mid3rd{
    height: 25% !important;
    width: 100%;
    /* background-color: purple; */
    margin: 80px 0px 0px 0px !important;
    padding: 2px !important;
}
#bot3rd{
    height: 30% !important;
    width: 100%;
    /* background-color: turquoise; */
    margin: 40px 0px 0px 0px !important;
    padding: 2px !important;
}
#barChart{
    height: 100% !important;
    width: 100% !important;
}
#lineChart{
    height:100% !important;
    width:100% !important;
}
th{
    margin:0 !important;
    border: 0 !important;
}
#horizontalBar{
    height: 500px !important;
    width: 100% !important;
}
#carouselExampleControls{
    width: 100% !important;
}
.col-6{
    /* background-color: green; */
    padding: 0px !important;
    margin: 0px !important;
}
.col-5{
    /* background-color: teal; */
    padding: 0px !important;
    margin: 0px !important;
}
.col-9{
    /* background-color: red; */
    padding: 0px !important;
    margin: 0px !important;
}
#mainContent{
    background-color: rgb(159, 173, 255);
    height: 93vh !important;
    width: 90vw !important; 
    padding: 0px !important;
    margin: 0px !important;
}
.funk{
    height:200px;
    width: 100%;
}
.carousel-item{
    /* height: 350px !important; */
    margin: 0px 0 50px 0 !important;
}
#horizontalBar{
    height: 400px !important;
    width: 90% !important;
}
#barChart{
    height: 250px !important;
}
#pieChart{
    height: 200px !important;
    padding: 0% 10% !important;
}
